In [ ]:
import numpy as np
result = np.tri(N=3, M=3, k=-1)
print(result)
'''
Output:
[[0. 0. 0.]
 [1. 0. 0.]
 [1. 1. 0.]]
'''