In [ ]:
import numpy as np
result = np.tri(N=3)
print(result)
'''
Output:
[[1. 0. 0.]
 [1. 1. 0.]
 [1. 1. 1.]]
'''