In [ ]:
import numpy as np
result = np.tri(N=3, M=2)
print(result)
'''
Output:
[[1. 0.]
 [1. 1.]
 [1. 1.]]
'''