In [ ]:
import numpy as np
array = np.array(object=[1, 2, 3], dtype=np.float32)
print(array)
#Output: [1., 2., 3.]